<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Who are you?">
    </div>
  </div>

  <div class="field">
    <%= f.label :sandwich %><br />
    <%= f.select :sandwich, [:Meat, :Vegetarian, :Vegan] %>
    </div>

  <div class="control-group">  
    <label class="control-label" for="textarea">Special Instructions</label>  
    <div class="controls">  
    <textarea class="input-xlarge" id="textarea" rows="3"></textarea>  
    </div>  
  </div>  
  
  <div class="control-group">
    <div class="form-actions">
    <button class="btn btn-primary" type="submit">Order!</button>
    <button type="button" class="btn">Cancel</button>
    </div>
  </div>
</form>

<% end %>
